:host {
    .container {
        border: 1px solid gray;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .form-layout {
        display: flex;
        align-items: baseline;
    }

    .save-btn {
        margin-left: 1rem;
    }
}